<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BPM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64FB32B01DD82D9900F208FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64FB32C11DD82D9900F208FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64FB32CC1DD82D9900F208FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
